name: Go

on: push

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Update package lists
        run: |
          sudo apt-get update

      - name: Install dependencies
        run: |
          sudo apt-get install -y age

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "~1.24.6"

      - name: Run tests
        run: |
          go test

      - run: mkdir -p dist/

      - name: Build linux-amd64
        run: |
          go build -o dist/systemd-age-creds-amd64
        env:
          GOOS: linux
          GOARCH: amd64

      - name: Build linux-arm64
        run: |
          go build -o dist/systemd-age-creds-arm64
        env:
          GOOS: linux
          GOARCH: arm64

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: systemd-age-creds
          path: dist/
